/* Firefox */
.card-section-quiz {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, dan Safari */
.card-section-quiz::-webkit-scrollbar {
    width: 10px;
}

.card-section-quiz::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
    margin: 5px;
}

.card-section-quiz::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 4px solid var(--primary);
}

.card-section-quiz::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
}
